@media screen and (max-width: 767px){
  .calc-section {
    max-width: 90%;
  }
  .calc-btn-container {
    padding: 26px 12px;
  }
  .btn, .btn-reset {
    margin-right: 10px;
  }
  .btn-equals {
    margin-right: 0;
  }
  
}